h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_a { text-decoration: none; }
#menu_pane { background-color: #2C2825; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_hr { background-color: #646464; height: 1px; border: none; }
#menu_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_entry:hover span { color:#FFFFFF !important; }
.menu_mainMenuEntry { text-align: center; }
.menu_mainMenuEntry:hover {	background-color:#FFFFFF; }
.menu_mainMenuEntry:hover span {	color:#000000 !important; }
#menu .mobileEntry { display: none; } 
#menu .normalEntry { display: block; } 
@media only screen and (max-width:450px) { 
	#menu .mobileEntry { display: block; } 
	#menu .normalEntry { display: none; } 
}
#button_a { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; width:150px; height:40px; background-color:#E5B340;  }
#button_a:hover { background-color:#FEE556;  }
#button_a:hover span { color:#444444 !important; }
@media only screen and (max-width: 600px)
{
		#container { width:100% !important;  }
		#container { width:100% !important;  }
}
@media only screen and (max-width: 450px)
{
		#menu { width:100px !important;  }
}